.gk-help-hide {
    display: none;
}

.gk-help-container {
    background-color: rgba(0,0,0,.7);
    color: #FFF;
    font-family: 'Helvetica', 'Arial', sans-serif;
    position: relative;
    z-index: 9999;
}

.gk-help-title {
    font-weight: normal;
    padding: 15px 0;
    margin: 0 50px 10px 10px;
    font-size: 2em;
}

.gk-help-gesture {
    width: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    overflow: scroll;
}

.gk-help-gesture img {
    width: 100%;
}

.gk-help-label {
    text-align: center;
    font-weight: normal;
    margin: 5px;
}

.gk-help-close {
    border: 1px solid #EEE;
    border-radius: 100%;
    padding: 0;
    width: 42px;
    height: 42px;
    color: #FFF;
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

.gk-help-close:before{
    content: '˟';
    font-size: 6em;
    position: relative;
    top: -9px;
}